<h1>STUDENTS PORTAL</h1>
<hr style="border:2px solid red;">
<h3 class="text-right">{{route.toUpperCase()}}</h3>
<div class="row mt-5">
    <div class="col-md-3">
      <app-menu #menu></app-menu>
    </div>
    <div class="col-md-9">
      <div class="card">
        <div class="card-header">Notification</div>
        <div class="card-body">
          <h5 class="card-title">There are no posts</h5>
          <p class="card-text">The administrator has not created any content yet. As soon as some content is added you will see it here.</p>
        </div>
      </div>
      <div class="card text-white bg-secondary mt-5" *ngIf="menu.studentInfo.isAdmin">
        <div class="card-body">
          <div class="row">
            <div class="col-auto">
              <select name="type" id="type" class="form-control my-2">
                <option value=1>Notification</option>
                <option value=2>Exam time table</option>
                <option value=3>Exam gate pass</option>
                <option value=4>Change in faculty</option>
                <option value=5>Circular on the portal</option>
              </select>    
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <input type="text" name="title" id="title" class="form-control my-2" placeholder="title">
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <textarea name="text" id="text" cols="30" rows="10" class="form-control my-2"></textarea>
            </div>
          </div>
          <div class="row">
            <div class="col-auto ml-auto">
              <button type="button" value="send" class="btn btn-danger my-2">Publish</button>
            </div>
          </div>
        </div>
      </div>
    </div>    
</div>
