<h1>STUDENTS PORTAL</h1>
<hr style="border:2px solid black;">
<h3 class="text-right">{{route.toUpperCase()}}</h3>

<div *ngIf="sysMessage.message" class="alert" [ngClass]="sysMessage.error ? 'alert-danger' : 'alert-success' ">
    {{sysMessage.message}}
</div>

<ng-template #newPassModal let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Change password</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form (submit)="changePassword($event)">
        <div class="modal-body">
            <label for="newPassword">Choose the new password for the user <strong>{{ selStudent.user[0].username }}</strong></label>
            <input type="hidden" name="studentId" value="{{selStudent.student_id}}">
            <input #newPassword type="password" name="newPassword" class="form-control">      
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="d('cancel click')">Cancel</button>
            <button type="submit" class="btn btn-primary">Change</button>
        </div>
    </form>
</ng-template>

<div class="row mt-5">
    <div class="col-md-3">
      <app-menu #menu></app-menu>
    </div>
    <div class="col-md-9">
        <div class="card bg-light">
            <div class="card-header">
                <strong>Create Student</strong>
            </div>
            <div>
                <form #form="ngForm" (submit)="createStudent(form)">
                    <table class="table">
                        <thead>
                            <th>Student Id</th>
                            <th>Name</th>
                            <th>Surname</th>
                            <th>E-Mail</th>
                            <th></th>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input [(ngModel)]="newStudent.studentId" name="studentId" type="number" class="form-control"></td>
                                <td><input [(ngModel)]="newStudent.name" name="name" type="text" class="form-control"></td>
                                <td><input [(ngModel)]="newStudent.surname" name="surname" type="text" class="form-control"></td>
                                <td><input [(ngModel)]="newStudent.email" name="email" type="email" class="form-control"></td>
                                <td>
                                    <button type="submit" class="btn btn-success">Create</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>    
                </form>
            </div>
        </div>

        <div class="card bg-light mt-3">
            <div class="card-header">
                <strong>Students list</strong>
            </div>
            <div>
                <table class="table table-hover">
                    <thead>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Surname</th>
                        <th>E-Mail</th>
                        <th>Username</th>
                        <th></th>
                    </thead>
                    <tbody>
                        <tr [ngClass]="student.leave ? 'table-danger' : ''" 
                            *ngFor="let student of studentsInfo">
                            <td>{{student.student_id}}</td>
                            <td>{{student.name}}</td>
                            <td>{{student.surname}}</td>
                            <td>{{student.email}}</td>
                            <td *ngIf="student.user[0]" [ngClass] ="student.user[0].isBlocked ? 'userBlocked' : ''">{{student.user[0].username}}</td><td class="text-danger" *ngIf="!student.user[0]">[No User]</td>
                            <td>
                                <div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown" *ngIf="student.user[0]">
                                    <button class="btn btn-primary mr-2" id="dropdownManual" ngbDropdownAnchor (focus)="myDrop.open()">Actions</button>
                                    <div ngbDropdownMenu aria-labelledby="dropdownManual">
                                        <button ngbDropdownItem (click)=acceptLeave(student.student_id) *ngIf="student.leave">Accept leave</button>
                                        <button ngbDropdownItem (click)=rejectLeave(student.student_id) *ngIf="student.leave">Reject leave</button>
                                        <button type="button" ngbDropdownItem (click)="blockUser(student.student_id)" *ngIf="!student.user[0].isBlocked">Block user</button>
                                        <button type="button" ngbDropdownItem (click)="unblockUser(student.student_id)" *ngIf="student.user[0].isBlocked">Unblock user</button>
                                        <button ngbDropdownItem (click)="resetPassword(student.student_id)" >Reset password</button>
                                        <button ngbDropdownItem (click)="openModal(newPassModal,student)">Change password</button>
                                    </div>
                                </div>
                                <div *ngIf="!student.user[0]">
                                    <button type="button" class="btn btn-warning" (click)=sendRegisterEmail(student)>Send E-Mail</button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
